Container(
    node: (
        background_color: (Rgba(1., 0.78, 0.34, 1.)),
        style: (
            padding: (
                left:Px(10.),
                right:Px(10.),
                top:Px(10.),
                bottom:Px(10.),
            ),
            margin: (
                left: Auto,
                right: Auto,
                top: Auto,
                bottom: Auto
            )
        )
    ),
    children: [
        Text(
            text_data: (
                text: (
                    sections: [
                        (
                            text: "We will return to the menu",
                            style: (
                                font: None,
                                font_size: 16.,
                                color: Rgba(0., 0., 0., 1.)
                            )
                        ),
                        (
                            text: " Shortly",
                            style: (
                                font: None,
                                font_size: 16.,
                                color: Rgba(0.6, 0., 0., 1.)
                            )
                        )
                    ],
                    default_font: Some(File("fonts/FiraMono-Medium.ttf"))
                ),
                style: (
                )
            ),
        )
    ]
)
