Container(
    node: (
        background_color: (Rgba(1., 0.78, 0.34, 1.)),
        style: (
            padding: All(Px(10.)),
            margin: All(Auto)
        )
    ),
    children: [
        Text(
            text_data: (
                text: (
                    sections: [
                        (
                            text: "We will return to the menu",
                            style: (
                                font_size: 16.,
                                color: Rgba(0., 0., 0., 1.)
                            )
                        ),
                        (
                            text: " Shortly",
                            style: (
                                font_size: 16.,
                                color: Rgba(0.6, 0., 0., 1.)
                            )
                        )
                    ],
                    default_font: File("fonts/FiraMono-Medium.ttf")
                ),
                style: (
                )
            ),
        )
    ]
)
